.git/
.github/
.idea/
.venv/
__pycache__/
*.py[cod]
.DS_Store
.pytest_cache/
.mypy_cache/
.ruff_cache/
*.log
dapt/
dapt_model/
data/
scripts/
samples.xlsx
samplescleaned.xlsx
qodana.yaml
docker-compose.local.yml
